.resume
  .row
    .col-3.personal-data
      h1 Santiago
        span &nbsp; Marcelino Flores
      .photo
        img(src="assets/images/portfolio/santiago_flores.jpg" alt="Santiago Marcelino Flores")
      p.profile 
        strong Front end developer
        | &nbsp; con 8 años de experiencia en diseño y maquetaci&oacute;n de &nbsp;interfaces 
        | de usuarios visualmente atractivas, faciles de usar, responsivas y su conexi&oacute;n con servicios web.
      .contact
        p ldg.santiago.flores@gmail.com
        p (52) 55 7989 4388
        p.city Tehuac&aacute;n Puebla, M&eacute;xico.
      ul.social
        li: a(href="https://www.linkedin.com/in/santiago-marcelino-flores-a5aa0211b" target="_blank"): i.icon-linkedin
        li: a(href="https://github.com/SantyCoder" target="_blank"): i.icon-github
        li: a(href="https://codepen.io/santi_flores" target="_blank"): i.icon-codepen
      .download-cv
        a.btn('(click)'="downloadPDF()") Descargar CV
    .col-6
      .work-data
        h2 Experiencia profesional
        ul.experience
          li
            h3 Gigigo MX 
            h5 Fron-End Developer
            p 2018 - Actualmente
            .desc
              p Encargado del desarrollo front end de multiples aplicaciones web, utilizando como 
                | frameworks Angular y VUE, en los distintos proyectos hay un alto consumo de 
                | servicios v&iacute;a API's REST.
            .projects
              p Dentro de GIGIGO he estado involucrado en proyectos para diversos clientes como:
              ul
                li Telef&oacute;nica Movistar Uruguay
                li Gasolineras GULF
                li Gasolineras NEXTAR
                li Telev&iacute;a
                li Medix
                li Financiera Fincom&uacute;n
                li Telcel
                li Gasolineras G500
          li
            h3 Ingenia Agencia 
            h5 Front-End Lead
            p 2017-2018
            .desc
              p Encargado de coordinar el &Aacute;rea de front end, manejo de lineamientos 
                | para la arquitectura de los proyectos, estimaciones de los mismos, as&iacute;
                | como la definici&oacute;n de tareas para los planes de trabajo del equipo.
            .projects
              p Como responsable del &aacute;rea de front end realic&eacute; desarrollos para los
                | &nbsp; siguientes clientes:
              ul
                li CIBanco
                li Hoteles Misi&oacute;n
          li
            h3 Ingenia Agencia 
            h5 Desarrollador Web Front-End
            p 2015-2017
            .desc
              p Encargado de construir las interfaces de sitios web responsivos, manteniendo
                | &nbsp;como prioridad el HTML sem&aacute;ntico, SEO y conexi&oacute;n de servicios
                | v&iacute;a AJAX.
            .projects
              p Desarrollador Front-End para diversos clientes como:
              ul
                li Grupo Bimbo Inversionistas
                li Coca Cola FEMSA
                li Grupo Bimbo Corporativo
                li AMCHAM
          li
            h3 Virtual Market
            h5 Diseñador de interfaces / Diseñador gr&aacute;fico.
            p 2013-2015
            .desc
              p Encargado de construir el dise&ntilde;o de interfades de usuario para aplicaciones 
                | web y moviles, maquetación de aplicaciones moviles por medio de XML, as&iacute; como 
                | generar identidad de la marca.
            .projects
              p Encargado de diseño de marca, gr&aacute;fico y de interfaz de usuario.
              ul
                li Diseño de branding corporativo
                li Publicidad
                li Ilustraci&oacute;n
                li Dise&ntilde;o de aplicaciones Web y M&oacute;viles
                li Dise&ntilde;o UI / UX
        h2 Educaci&oacute;n
        ul.experience
          li
            h3 Maestr&iacute;a en Dise&ntilde;o Gr&aacute;fico
            h5 Instituto de Estudios superiores del Estado
            p 2011 - 2013 &nbsp; / &nbsp; Titulado
            .desc
              p Tehuac&aacute;n, Puebla.
          li
            h3 Licenciatura en Dise&ntilde;o Gr&aacute;fico
            h5 Instituto de Estudios superiores del Estado
            p 2005 - 2010 &nbsp; / &nbsp; Titulado
            .desc
              p Tehuac&aacute;n, Puebla.
        h2 Habilidades
        ul.experience
          li
            .projects
              ul
                li Dominio de HTML5 y CSS3.
                li Manejo de Javascript.
                li Manejo de Frameworks / Librer&iacute;s basados en JS.
                li Manejo de Pre Procesadores de CSS.
                li Responsive Web Design.
                li Manejo de control de versiones GIT.
                li Conexi&oacute;n de Web Services.
                li Diseño UI / UX.
                li Resolución de problemas.
                li Trabajo en equipo.
                li Comunicaci&oacute;n efectiva.
                li Aprendizaje constante.
    .col-3
      .work-data
        h2 Lenguajes
        ul.language
          li HTML5
          li CSS3
          li Javascript
          li Typescript
        h2 Frameworks
        ul.language
          li Angular
          li Vue
          li Tailwind CSS
        h2 Otros
        ul.language
          li GIT
          li SASS
          li LESS
          li PUG
          li Node
          li Vite