.resume
  .row
    .col-3.personal-data
      h1 Santiago
        span &nbsp; Marcelino Flores
      .photo
        img(src="assets/images/portfolio/santiago_flores.jpg" alt="Santiago Marcelino Flores")
      h2 Front End Developer
      p ldg.santiago.flores@gmail.com
      p.city Tehuac&aacute;n Puebla, M&eacute;xico.
      ul.social
        li: a(href="https://github.com/SantyCoder" target="_blank"): i.icon-linkedin
        li: a(href="https://github.com/SantyCoder" target="_blank"): i.icon-github
        li: a(href="https://codepen.io/santi_flores" target="_blank"): i.icon-codepen
    .col-6
      .work-data
        h2 Perfil
        
        p Front end developer con 8 años de experiencia en diseño y maquetaci&oacute;n de
          |&nbsp;interfaces de usuarios responsivas y su conexi&oacute;n con servicios web.

        h2 Experiencia profesional

        ul.experience
          li
            h3 Gigigo MX 
            h5 Fron-End Developer
            p 2018 - Actualmente
            .desc
              p Encargado del desarrollo frontend de multiples aplicaciones web, utilizando como 
                | frameworks Angular y VUE, en los distintos proyectos hay un alto consumo de 
                | servicios v&iacute;a API's REST.
          li
            h3 Ingenia Agencia 
            h5 Fron-End Lead
            p 2017-2018
            .desc
              p Encargado de coordinar el &Aacute;rea de front end, manejo de lineamientos 
                | para la arquitectura de los proyectos, estimaciones de los mismos, as&iacute;
                | como la definici&oacute;n de tareas para los planes de trabajo del equipo.
          li
            h3 Ingenia Agencia 
            h5 Desarrollador web fron-end
            p 2015-2017
            .desc
              p Encargado de construir las interfaces de sitios web responsivos, manteniendo
                | como prioridad el HTML sem&aacute;ntico, SEO y conexi&oacute;n de servicios
                | v&iacute;a AJAX.
          li
            h3 Virtual Market
            h5 Diseñador de interfaces / Diseñador gr&aacute;fico.
            p 2013-2015
            .desc
              p Encargado de construir el dise&ntilde;o de interfades de usuario para aplicaciones 
                | web y moviles, maquetación de aplicaciones moviles por medio de XML, as&iacute; como 
                | generar identidad de la marca.
          
        h2 Educaci&oacute;n
        ul.experience
          li
            h3 Maestr&iacute;a en Dise&ntilde;o Gr&aacute;fico
            h5 Instituto de Estudios superiores del Estado
            p 2011 - 2013
            .desc
              p Tehuac&aacute;n, Puebla.
          li
            h3 Licenciatura en Dise&ntilde;o Gr&aacute;fico
            h5 Instituto de Estudios superiores del Estado
            p 2005 - 2010
            .desc
              p Tehuac&aacute;n, Puebla.
        h2 Habilidades
        h2 Proyectos donde he participado
    .col-3
      .work-data
        h2 Lenguajes
        ul.language
          li HTML5
          li CSS3
          li Javascript
          li Typescript
        h2 Frameworks
        ul.language
          li Angular
          li Vue
          li Tailwind CSS
        h2 Otros
        ul.language
          li GIT
          li SASS
          li LESS
          li PUG
          li Node
          li Vite