@keyframes rotate {
  100% {
    transform: rotate(360deg) translate(30px)
  }
}

@keyframes slide-up {
  from{
    top: 8%;
  }
  to {
    top: -8%;
    opacity: 0;
  }
}

@keyframes slide-down {
  to {
    top: 8%;
    opacity: 1;
  }
}

@keyframes rotate-left{
  0%{
    transform: rotateZ(360deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}

@keyframes ball {
  0%,25%,50%,75%, 100% {
    background-position: 25% 0,75% 0;
  }
  40%{
    background-position: 25% 0,85% 0;
  }
  90%{
    background-position: 15% 0,75% 0;
  }
}

@keyframes move-ball {
  100%{
    transform:translate(0.25px);
  }
}

@mixin animation-name($name, $property, $from , $to ){
  @keyframes #{$name} {
    0%{
      #{$property}: $from;
    }
    100%{
      #{$property}: $to;
    }
  }
}