.clock {
  span {
		border-radius: 50%;
		display: block;
		height: 16px;
		margin: 0 auto;
    position: relative;
    width: 16px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 0;
      transform: rotate(0deg) translate(30px);
      animation: rotate 1s ease infinite;
    }

    &:after {
      animation-delay: 0.5s
    }
  }
}

.border-loading-style{
  border: 3px solid silver;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
}
.center-absolute{
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.loading{
  position: relative;
  >span:first-child{
    @extend .center-absolute;
    &:before{
      animation: rotate-left 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite;
      @extend .border-loading-style;
      @extend .center-absolute;
      content: "";
      height: 160px;
      width: 160px;
    }
    &:after{
      animation: rotate-left 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite reverse;
      @extend .border-loading-style;
      @extend .center-absolute;
      content: "";
      height: 140px;
      width: 140px;
    }
  }
  >span:last-child{
    @extend .center-absolute;
    &:before{
      animation: rotate-left 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite;
      @extend .border-loading-style;
      @extend .center-absolute;
      content: "";
      height: 120px;
      width: 120px;
    }
    &:after{
      animation: rotate-left 2s cubic-bezier(0.26, 1.36, 0.74,-0.29) infinite reverse;
      @extend .border-loading-style;
      @extend .center-absolute;
      content: "";
      height: 100px;
      width: 100px;
    }
  }
}

.sending{
  display: inline-block;
  position: relative;
  button{
    &:disabled{
      color: transparent;
    }
  }
  &:before{
    animation: ball 1s linear infinite;
    background: radial-gradient(circle 8px at 8px center, #FFF 100%, transparent 0),
                radial-gradient(circle 8px at 8px center, #FFF 100%, transparent 0);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: block;
    height: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &:after{
    animation: move-ball 1s cubic-bezier(0.5,300,0.5,-300) infinite;
    content: "";
    background:#FFF;
    border-radius: 50%;
    bottom: 0;
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
  }
}