.clock {
  span {
		border-radius: 50%;
		display: block;
		height: 16px;
		margin: 0 auto;
    position: relative;
    width: 16px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 0;
      transform: rotate(0deg) translate(30px);
      animation: rotate 1s ease infinite;
    }

    &:after {
      animation-delay: 0.5s
    }
  }
}