nav.menu
  ul
    li
      a('routerLink'='/resume' 'routerLinkActive'='active' title="Curriculum")
        i.icon-portfolio
    li
      a('routerLink'='/game' 'routerLinkActive'='active' title="Juego")
        i.icon-game
    li
      a('routerLink'='/login' 'routerLinkActive'='active' title="Proyectos")
        i.icon-apps