.tabs
  ul
    li: a('routerLink'='/resume' 'routerLinkActive'='active') Curriculum Vitae
    li: a('routerLink'='/game' 'routerLinkActive'='active') Juego
    li: a('routerLink'='/login' 'routerLinkActive'='active') Login